 [Unit]
 Description=Artifactory service
 After=network.target

 [Service]
 user=artifact
 Type=forking
 GuessMainPID=yes
 Restart=always
 RestartSec=60
 PIDFile=/var/run/artifactory.pid
 ExecStart=/opt/artifactory/artifactory-oss-7.71.17/app/bin/artifactoryManage.sh start
 ExecStop=/opt/artifactory/artifactory-oss-7.71.17/app/bin/artifactoryManage.sh stop

 [Install]
 WantedBy=multi-user.target
 Alias=artifactory.service